.container {
    box-sizing: border-box;
    margin: auto;
    border:  3px solid olive;
    align-items: center;
    width: 80%;
    height: auto;
    padding: 10px;
    
}
h2{
    text-align: center;
    color: darkorange;
}
hr{
    border:  3px solid olive;
}
