.all {
    display: flex;
}

.post-container {
    box-shadow: 0px 0px 10px;
    width: 400px;
    margin: auto;
    height: fit-content;
    padding: 20px 0 30px 60px;
    border-radius: 4px;
    flex:1;
}
.post-wrapper {
    display: flex;
    width: 400px;
    height: 240px;
    box-sizing: border-box;
    margin-left: 12px;
    padding: 1em;
    background-color: wheat;
    border: 3px solid white;
}

.img-thumb {
    width: 100%;
    position: relative;
    flex:1;
    margin-right: 2em;
}

.img-thumb img {
    width: 100%;
}

.content{
    width: 100%;
    position: relative;
    flex:2;
}

p.title {
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
    margin-top: 0px;
    color: black;

}
.content p.title:hover {
    cursor:pointer;
    color: orangered;
}
p.desc {
    font-size: 14px;
    font-weight: 300;
    text-transform: none;
    margin-top: 0px;
    color: chocolate;

}
.content .remove {
    margin: auto;
    border: 1px solid red;
    color: red;
    font-weight: bold;
    border-radius: 4px;
    outline: none;
    padding: 10px 15px;

}

.content .remove:hover {
    cursor:pointer;
    color: orangered;
} 

.form-add-post {
    box-shadow: 0px 0px 10px;
    width: 400px;
    height: fit-content;
    padding: 10px;
    margin-bottom: 50px;
    border-radius: 4px;
    flex:1;
}

.form-add-post label {
    display: block;
    font-size: 14px;
    color: #607D8B;
    font-weight: bold;
    margin-bottom: 10px;
}

.form-add-post input, .form-add-post textarea {
    outline: none;
    border: 1px solid #607D8B;
    padding: 12px;
    border-radius: 4px;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
    font-size: 12px;
    color: #607D8B;

}

.btn-submit {
    outline: none;
    border: 1px solid #2196F3;
    padding: 10px 30px;
    border-radius: 4px;
    color: #2196f3;
    font-weight: bold;
    margin-top: 30px;
    
}

.btn-submit:hover{
    cursor:pointer;
    color: orangered;
}

.content .update {
    margin: auto;
    border: 1px solid olivedrab;
    color:olivedrab;
    font-weight: bold;
    border-radius: 4px;
    outline: none;
    padding: 10px 15px;
    margin-right: 5px;

}

.content .update:hover {
    cursor:pointer;
    color: orangered;
} 
